{extend name="common:base" /}
{block name="header"}{__block__}{/block}

{block name="content"}
<body>
<div class="x-body">
    <blockquote class="layui-elem-quote">提现管理<a class="layui-btn layui-btn-primary layui-btn-sm" style="float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i>刷新</a></blockquote>

    <xblock>
        <div style="line-height:30px;"><i class="layui-icon" style="font-size:18px;">&#xe615;</i><span style="padding-left:5px;">筛选查询</span></div>
    </xblock>
</div>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">
            手机号码:
        </label>
        <div class="layui-input-inline">
            <input type="text" value="{present name='param'}{$param}{/present}" name="phone_number" required="" lay-verify=""
                   autocomplete="off" class="layui-input">
            {:token()}
        </div>
        <button type="button" class="layui-btn" lay-filter="search" lay-submit="">开始筛选</button>
    </div>
</form>

<table class="layui-table layui-form" id="courselist">
    <thead>
    <tr>
        <th>
            <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
        </th>
        <th>姓名</th>
        <th>手机号码</th>
        <th>提现金额</th>
        <th>提现手续费</th>
        <th>实际到账金额</th>
        <th>提现渠道</th>
        <th>提现账号</th>
        <th>提现时间</th>
        <th>状态</th>
        <th>备注</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>

    {present name="result"}
    {volist name="result" id="item"}
    <tr>
        <td>
            <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
        </td>
        <td>{$item.real_name}</td>
        <td>{$item.phone_number}</td>
        <td>{$item.withdrawal_amount}</td>
        <td>{$item.withdrawal_service_charge}</td>
        <td>{$item.amount_received}</td>
        <td>{$item.withdrawal_type}</td>
        <td>{$item.withdrawal_account}</td>
        <td>{$item.withdrawal_time}</td>
        <td>{$item.status}</td>
        <td>{$item.remarks}</td>
        <td>
            <button type="button" onclick="item_check(this,{$item.id})" class="layui-btn layui-btn-sm layui-btn-normal">
                <i class="layui-icon">&#xe652;</i>处理
            </button>
        </td>
    </tr>
    {/volist}
    {/present}
    {notempty name="message"}
        <tr><td colspan="12">{$message}</td><tr>
        {/notempty}

        {present name="list"}
        {volist name="list" id="item"}
    <tr>
        <td>
            <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
        </td>
        <td>{$item.real_name}</td>
        <td>{$item.phone_number}</td>
        <td>{$item.withdrawal_amount}</td>
        <td>{$item.withdrawal_service_charge}</td>
        <td>{$item.amount_received}</td>
        <td>{$item.withdrawal_type}</td>
        <td>{$item.withdrawal_account}</td>
        <td>{$item.withdrawal_time}</td>
        <td>{$item.status}</td>
        <td>{$item.remarks}</td>
        <td>
            <button type="button" onclick="item_check(this,{$item.id})" class="layui-btn layui-btn-sm layui-btn-normal">
                <i class="layui-icon">&#xe642;</i> 处理
            </button>
        </td>
    </tr>
    {/volist}
    {/present}




    </tbody>
</table>
<div class="page">
    <div>
        {present name="list"}
        {$list|raw}
        {/present}
        {present name="result"}
        {$result|raw}
        {/present}
    </div>
</div>

</div>
{/block}

{block name="footer"}
<script>
    layui.use(['form','laydate'], function(){
        $ = layui.jquery;
        var laydate = layui.laydate;
        var form = layui.form;


        form.on('submit(search)', function(data){
            var param = data.field.phone_number
            window.location.href = "{:url('[withdrawal.search]')}"+"?phone_number="+param
        });


    });



</script>

</body>

</html>
{/block}