{extend name="common:base" /}
{block name="header"}
{__block__}
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{/block}
{block name="content"}

{block name="content"}
<body class="layui-anim layui-anim-up">
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <label for="search_phone_number">用户手机号:</label>
            <input class="layui-input" placeholder="请输入用户手机号码" name="search_phone_number" style="margin-right: 10px">
            <label for="search_wechat_name">微信昵称:</label>
            <input class="layui-input" placeholder="请输入微信昵称" name="search_wechat_name" style="margin-right: 10px">
            <label for="search_real_name">真实姓名:</label>
            <input type="text" name="search_real_name"  placeholder="请输入真实姓名"  class="layui-input" style="margin-right: 10px">
            <label for="">类型:</label>
            <div class="layui-input-inline" style="width: 10%;" >
                <select name="type" id="categorys" lay-verify="required">
                    <option value="">请选择</option>
                    <option value="1">普通</option>
                    <option value="2">金牌私人法律顾问</option>
                    <option value="3">王牌私人法律顾问</option>
                </select>
            </div>
            <button class="layui-btn"  lay-submit="" lay-filter="search">开始筛选</button>

        </form>
    </div>
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('新增','{:url("[customer.create]")}',800,600)"><i class="layui-icon"></i>新增</button>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>编号</th>
            <th>头像</th>
            <th>微信昵称</th>
            <th>手机号码</th>
            <th>类型</th>
            <th>账户总余额（元）</th>
            <th>真实姓名</th>
            <th>身份证号码</th>
            <th>注册时间</th>
            <th>操作</th></tr>
        </thead>
        <tbody>

        {volist name="data" id="item"}
            <tr>
                <td>
                    <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
                </td>
                <td>{$item.customer_id}</td>
                <td><img src="{$item.avatar}" alt="头像" title="头像" width="50" height="50"></td>
                <td>{$item.wechat_name}</td>
                <td>{$item.phone_number}</td>
                <td>{$item.type}</td>
                <td>{$item.account_balance}</td>
                <td>{$item.real_name}</td>
                <td>{$item.identity_card}</td>
                <td>{$item.regtime}</td>
                <td class="td-manage">
                    <a title="编辑"  onclick="x_admin_show('编辑','member-edit.html',600,400)" href="javascript:;">
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-normal">编辑</button>
                    </a>
                    <a onclick="x_admin_show('重置密码','member-password.html',600,400)" title="重置密码" href="javascript:;">
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-danger">重置密码</button>
                    </a>
                </td>
            </tr>
        {/volist}


        </tbody>
    </table>
    <div class="page">
        <div>
            {$data|raw}
        </div>
    </div>

</div>
{/block}

{block name="footer"}
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    /*用户-停用*/
    function member_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){

            if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

            }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
            }

        });
    }

    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }



    function delAll (argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>

</body>

</html>
{/block}