{extend name="common:base" /}
{block name="header"}{__block__}{/block}

{block name="content"}
<body>
<div class="x-body">
    <blockquote class="layui-elem-quote">合同管理<a class="layui-btn layui-btn-primary layui-btn-sm" style="float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i>刷新</a></blockquote>

<xblock>
    <button class="layui-btn" onclick="x_admin_show('新增规则','{:url("[auth.create]")}',450,400)"><i class="layui-icon"></i>新增</button>
</xblock>

    <table class="layui-table layui-form">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>id</th>
            <th>规则地址</th>
            <th>规则名称</th>
            <th>条件</th>
            <th>状态</th>
            <th>操作</th></tr>
        </thead>
        <tbody>

        {volist name="list" id="item"}
            <tr>
                <td>
                    <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
                </td>
                <td>{$item.id}</td>
                <td>{$item.name}</td>
                <td>{$item.title}</td>
                <td>{$item.condition}</td>
                <td>
                {if $item.status}
                <span style="color:green;">正常</span>
                {else/}
                <span style="color:red;">禁用</span>
                {/if}
                </td>
                <td>
                <a title="编辑" class="layui-btn layui-btn-normal layui-btn-xs" onclick="x_admin_show('编辑权限','{:url("[auth.edit]",["id"=>$item.id])}',450,400)" href="javascript:;">
                                                    编辑
                                                  </a>
                <a title="删除" class="layui-btn layui-btn-danger layui-btn-xs" onclick="item_del(this,{$item.id})" href="javascript:;">
                                    删除
                                  </a></td>
            </tr>
        {/volist}


        </tbody>
    </table>
    <div class="page">
        <div>
            {$list|raw}
        </div>
    </div>

</div>
{/block}

{block name="footer"}
<script>
    layui.use(['form'], function(){
        $ = layui.jquery;
        var form = layui.form;


        //监听switch开关
        form.on('switch(is_index)', function(data){
            let is_index=null
            if( data.elem.checked ){
                is_index=1
            }else{
                is_index=0
            }
            $.ajax({
                type:"post",
                url:"{:url('[banner.is_index]')}",
                data:{'id':data.value,'is_index':is_index},
                dataType:"json",
                success:function(res){
                    layer.msg(res.data.msg)
                }
            })


        });
    });


    /*删除*/
    function item_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.ajax({
            'type':'post',
            'url':"{:url('[auth.del]')}",
            'data':{'id':id},
            'dataType':'json',
            success:function(res){
                if(res.code==1){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                }else{
                    layer.msg(res.msg)
                }
            },error:function(){
                layer.msg('删除失败')
                return false
            }
            })

        });

    }
</script>

</body>

</html>
{/block}