{extend name="common:base" /}
{block name="header"}{__block__}{/block}

{block name="content"}
<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form">
        <div class="layui-form-item">
            <label  class="layui-form-label">
                选择角色：
            </label>
            <div class="layui-input-inline">
                <input type="hidden" name="uid" value="{$id}">
                {volist name="rolelist" id="item"}
                <input type="radio" name="group_id" value="{$item.id}" title="{$item.title}">
                {/volist}
            </div>

        </div>

        <div class="layui-form-item" style="margin-top: 15px;text-align: center;">
            <a  class="layui-btn" id="cancel">
                取消
            </a>
            <button  class="layui-btn" lay-filter="add" lay-submit="" id="add_btn">
                确定
            </button>
        </div>
    </form>
</div>
{/block}

{block name="footer"}
<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer



        //监听提交
        form.on('submit(add)', function(data){
            $.ajax({
                type:"post",
                url:"{:url('[user.bindrole]')}",
                data:data.field,
                dataType:"json",
                success:function (res) {
                        if( res.code==1){
                            layer.msg("选择角色成功", {icon: 1},function () {
                                // 获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.location.reload();
                                //关闭当前frame
                                parent.layer.close(index);
                            });
                        }else{
                            layer.msg(res.msg)
                        }
                }

            })
            // layer.alert("选择角色成功", {icon: 1},function () {
            //     // 获得frame索引
            //     var index = parent.layer.getFrameIndex(window.name);
            //     //关闭当前frame
            //     parent.layer.close(index);
            // });
            return false;
        });

        //取消按钮
        $("#cancel").on("click",function () {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        })

    });
</script>

</body>

</html>
{/block}